
/*
  Import the common theme.
*/
@import "./_shared/scss/theme.scss";

/*
  If you need some CSS for any reason you can put it here.
*/

body {
  font-size: 1rem;
}

/* CAROUSEL */
.carousel-indicators li {
  height: 30px;
  width: 50px;
  background-color: #222;
}

#sliderHomeFluid.container-fluid{
padding: 0;
}

.carousel-inner{
    max-height: 500px;
}

/* NAVBAR */

.navbar-nav .nav-link {
  font-size: 1rem;
}

a.nav-link {
  margin-left: 30px;
}

#navbar.container-fluid{
padding: 0;
}

/* TEAM PAGE */

.card-img-top {
  width: 65%;
  margin-top: 1rem;
  margin-bot: 1rem;
  border-top-left-radius: calc(0.25rem - 0);
  border-top-right-radius: calc(0.25rem - 0);
}


/* PARALLAX */

section.module.parallax {
  height: 250px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display:flex;
}

section.module.parallaxFull {
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display:flex;
}

section.module.parallax-team {
  background-image: url("./img/team_full.jpeg");
  background-position: 50% 100%;
}
section.module.parallax-contact {
  background-image: url("./img/contact.jpeg");
  background-position: center center;
}
section.module.parallax-home {
  background-image: url("./img/home1.jpg");
  background-position: center center;
}

.container#parallax {
  color: white;
  align-self: flex-end;
  width: auto;
  padding: 10px;
  margin-right: 75%;
  background-color: #222;
  text-transform: uppercase
}
