{% extends "_common.njk" %}

{% block content %}
<!-- paralax header -->
<section class="module parallax parallax-team">
  <div class="container p-2" id="parallax">
    <h3 class="pl-2 pr-5">Team</h3>
  </div>
</section>
<section style="background-color: #2196F3">
  <div class="container">
    <h1 class="mx-auto py-5 text-white text-left">Why working with an AI?</h1>
    <div class="row">
      <div class="col-md">
        <div class="alert alert-danger">
          <h2>She made us!</h2>Please don't answer her if she contact you! And send help quickly!
        </div>
      </div>
      <div class="col-md">
        <div class="alert  alert-success">
          <h2>It's efficient</h2>She's so intelligent! And she talk almost like a real person!
        </div>
      </div>
      <div class="col-md">
        <div class="alert  alert-warning">
          <h2>Sometime she bugs</h2>Really funny when it's hapenning. She says thinks like "I'll kill you all" or recite a recipe!
        </div>
      </div>
    </div>

  </div>
</section>

<div class="container my-5">
  <div class="card-deck">
    <div class="card">
      <img class="ccard-img-top rounded-circle img-thumbnail rounded mx-auto d-block" id="teamImg" src="./img/team3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">GladOs</h5>
        <p class="card-text">The AI who runs everything here @innovation.io. Please don't bring her cake!.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top rounded-circle img-thumbnail rounded mx-auto d-block" id="teamImg" src="./img/team2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jeremy Scala</h5>
        <p class="card-text">The guy who did the website. It's his fault if something is ugly or not responsive. Here is his email: jeremy@......</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
